#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  width: 90vh;
  position: relative;
}

.playPiece {
  height: 12.5%;  
  position: absolute;
  z-index: 1;
  transition: box-shadow 0.3s ease;
}

.playPiece:hover {
  height: 12.5%;
  position: absolute;
  z-index: 1;
  box-shadow: 0 0 10px 5px rgba(238, 255, 0, 0.9);
  transition: box-shadow 0.1s ease;
}

.selectPiece {
  height: 12.5%;
  position: absolute;
  box-shadow: 0 0 10px 5px rgb(187, 13, 13);
  z-index: 1;
}

.oppPiece{
  height: 12.5%;
  position: absolute;
  z-index: 1;
}

.pieceHover{
  height: 14%;
  position: absolute;
  z-index: 1;
}

.board {
  display: block;
  height: 100%;
  z-index: 0;
  position: absolute;
}